{% extends 'base.html' %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block content %}
    <h1 class="my-4"><strong>Titulo del Post:</strong> {{ post['title'] }}</h1>
    <p><strong>Fecha de creación del Post:</strong> {{ post['created'] }}</p>
    <p class="mb-4"><strong>Contenido del Post</strong>: {{ post['content'] }}</p>
    <a href="{{ url_for('edit_one_post', post_id=post['id']) }}" class="btn btn-warning mb-3">
        Editar
    </a>
    <form action="{{ url_for('delete_one_post', post_id=post['id']) }}" method="POST">
        <button type="submit" class="btn btn-danger mb-3"
        onclick="return confirm('¿Estás seguro de que quieres eliminar esta publicación?')">
            Eliminar Publicación
        </button>
    </form>
    <a href="{{ url_for('get_all_post') }}" class="btn btn-primary">
        Volver a la lista de posts
    </a>
{% endblock %}
